In [8]:
b = open("santosh.csv","r")
print(b.read())
b.close()

SN,Name,Age,Address
1. Hari,45,Kathmandu
2. Santosh,44,Solukhumbu
3. Ram,34,Tanhu
4. Basnet,25,Sagarmatha

In [10]:
import pandas as pd
df = pd.read_csv("santosh.csv")
df

   SN     Name  Age     Address
0   1     Hari   45   Kathmandu
1   2  Santosh   44  Solukhumbu
2   3      Ram   34       Tanhu
3   4   Basnet   25  Sagarmatha

In [11]:
import pandas as pd
df = pd.read_csv('santosh.csv',nrows = 5)
df

   SN     Name  Age     Address
0   1     Hari   45   Kathmandu
1   2  Santosh   44  Solukhumbu
2   3      Ram   34       Tanhu
3   4   Basnet   25  Sagarmatha

In [13]:
import pandas as pd
df = pd.read_csv("santosh.csv")
df.head(3)

   SN     Name  Age     Address
0   1     Hari   45   Kathmandu
1   2  Santosh   44  Solukhumbu
2   3      Ram   34       Tanhu

In [14]:
import pandas as pd
df = pd.read_csv("santosh.csv")
df.tail(3)

   SN     Name  Age     Address
1   2  Santosh   44  Solukhumbu
2   3      Ram   34       Tanhu
3   4   Basnet   25  Sagarmatha

In [15]:
import pandas as pd
df = pd.read_csv("santosh.csv",index_col = "SN")
df

       Name  Age     Address
SN
1      Hari   45   Kathmandu
2   Santosh   44  Solukhumbu
3       Ram   34       Tanhu
4    Basnet   25  Sagarmatha

In [16]:
import pandas as pd
df = pd.read_csv("santosh.csv",index_col = "SN",usecols = ["SN","Name","Age","Address"])
df

       Name  Age     Address
SN
1      Hari   45   Kathmandu
2   Santosh   44  Solukhumbu
3       Ram   34       Tanhu
4    Basnet   25  Sagarmatha

In [17]:
import pandas as pd
df = pd.read_csv("santosh.csv",index_col = "SN")
df['Age']>40

SN
1     True
2     True
3    False
4    False
Name: Age, dtype: bool

In [21]:
import pandas as pd
df = pd.read_csv("santosh.csv",index_col = "SN")
df[df["Address"] == "Kathmandu"] or ()

    Name  Age    Address
SN
1   Hari   45  Kathmandu

In [25]:
import pandas as pd
df = pd.read_csv("santosh.csv",index_col = "SN")
df[(df["Address"] == "Kathmandu") and (df["Age"]>46)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [29]:
import pandas as pd
df = pd.read_csv("santosh.csv",index_col = "SN")
df.iloc[2:4,0:2]

      Name  Age
SN
3      Ram   34
4   Basnet   25

In [30]:
import csv
fields = ['Santosh',35,'Kathmandu']
with open('basnet.csv','a') as f:
    x = csv.writer(f)
    x.writerow(fields)

In [31]:
import csv
fields = ['Santosh',35,'Kathmandu']
f = open('basnet.csv','a')
x = csv.writer(f)
x.writerow(fields)
f.close()

In [32]:
final = []
n = int(input("enter n  = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    physics = int(input("Enter physics = "))
    chemistry = int(input("Enter chemistry = "))
    math = int(input("Enter math = "))
    english = int(input("Enter english = "))
    total = sum([physics,chemistry,math,english])
    per = total/4
    marks = [i,name,physics,chemistry,math,english,total,per]
    final.append(marks)
print(final)

enter n  = 2
Enter name = Santoh
Enter physics = 25
Enter chemistry = 35
Enter math = 25
Enter english = 35
Enter name = Hari
Enter physics = 25
Enter chemistry = 25
Enter math = 26
Enter english = 35
[[1, 'Santoh', 25, 35, 25, 35, 120, 30.0], [2, 'Hari', 25, 25, 26, 35, 111, 27.75]]

In [34]:
import csv
f = open('final.csv','w')
x = csv.writer(f)
for i in final:
    x.writerow(i)
f.close()

In [37]:
import pandas as pd
df = pd.read_csv("final.csv",index_col = "SN")
df

      Name  physics  Chemistry  math  english  Total    per
SN
1   Santoh       25         35    25       35    120  30.00
2     Hari       25         25    26       35    111  27.75

In [39]:
a = {'Santosh': ['9865623658', '9865986586'], 'Ram': ['9685689575', '9856895648']}
df = pd.DataFrame(a)
df.to_csv('ram.csv')

In [40]:
import pandas as pd
df = pd.read_csv("ram.csv")
df

   Unnamed: 0     Santosh         Ram
0           0  9865623658  9685689575
1           1  9865986586  9856895648

In [41]:
import csv
b = open("santosh.csv")
reader = csv.DictReader(b)
for row in reader:
    print(row)

{'SN': '1', 'Name': 'Hari', 'Age': '45', 'Address': 'Kathmandu'}
{'SN': '2', 'Name': 'Santosh', 'Age': '44', 'Address': 'Solukhumbu'}
{'SN': '3', 'Name': 'Ram', 'Age': '34', 'Address': 'Tanhu'}
{'SN': '4', 'Name': 'Basnet', 'Age': '25', 'Address': 'Sagarmatha'}

In [42]:
import csv
final_data = []
b = open('santosh.csv')
reader = csv.DictReader(b)
for row in reader:
    final_data.append(dict(row))
print(final_data)

[{'SN': '1', 'Name': 'Hari', 'Age': '45', 'Address': 'Kathmandu'}, {'SN': '2', 'Name': 'Santosh', 'Age': '44', 'Address': 'Solukhumbu'}, {'SN': '3', 'Name': 'Ram', 'Age': '34', 'Address': 'Tanhu'}, {'SN': '4', 'Name': 'Basnet', 'Age': '25', 'Address': 'Sagarmatha'}]

In [45]:
final_data[1]['Name'] = "Ramprasad"
final_data

[{'SN': '1', 'Name': 'Hari', 'Age': '45', 'Address': 'Kathmandu'},
 {'SN': '2', 'Name': 'Ramprasad', 'Age': '44', 'Address': 'Solukhumbu'},
 {'SN': '3', 'Name': 'Ram', 'Age': '34', 'Address': 'Tanhu'},
 {'SN': '4', 'Name': 'Basnet', 'Age': '25', 'Address': 'Sagarmatha'}]

In [49]:
import csv
csv_columns = ['SN', 'Name', 'Age', 'Address']
dict = final_data
b = open("santosh.csv","w")
writer = csv.DictWriter(b, fieldnames=csv_columns)
writer.writerheader()
for data in dict:
    writer.writerow(data)
b.close()

AttributeError: 'DictWriter' object has no attribute 'writerheader'

In [48]:
import pandas as pd
df = pd.read_csv('santosh.csv')
df

EmptyDataError: No columns to parse from file

In [50]:
import mysql.connector
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "class6pm"
)
db = database.cursor()

ModuleNotFoundError: No module named 'mysql'

In [ ]:
import mysql.connector
database = mysql.connector.connect(
)