In [1]:
a = 10
print(a)

10

In [7]:
a=1
b=input("Entee your name")
c=int(input("Enter your roll no."))
d=input("Enter your address")
info="SN is "+str(a) + "My name is "+b +"My roll no is "+str(c)+"My address is"+d
print(info)

Entee your namesan
Enter your roll no.1
Enter your addresska
SN is 1My name is sanMy roll no is 1My address iska

In [8]:
print(type(info))

<class 'str'>

In [10]:
a={"Name":"Santosh","Address":"Kathmandu","Scope":"Science"}
print(type(a))
print(a)
a

<class 'dict'>
{'Name': 'Santosh', 'Address': 'Kathmandu', 'Scope': 'Science'}

{'Name': 'Santosh', 'Address': 'Kathmandu', 'Scope': 'Science'}

In [17]:
b={1:"SN",2:"Name",3:"Address"}
print(len(b))
print(type(b))
print(b)

3
<class 'dict'>
{1: 'SN', 2: 'Name', 3: 'Address'}

In [19]:
print(b[1])

SN

In [20]:
a.update(b)
a

{'Name': 'Santosh',
 'Address': 'Kathmandu',
 'Scope': 'Science',
 1: 'SN',
 2: 'Name',
 3: 'Address'}

In [21]:
print(a)

{'Name': 'Santosh', 'Address': 'Kathmandu', 'Scope': 'Science', 1: 'SN', 2: 'Name', 3: 'Address'}

In [27]:
a={}
a["name"]=input("Enter name")
a["address"]="kathmandu"
a["roll no"]=int(input())
a

Enter nameram
1

{'name': 'ram', 'address': 'kathmandu', 'roll no': 1}

In [28]:
d={}
for i in range(1,7):
    d[i]=i*2
d

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12}

In [35]:
d={}
n=int(input("Enter the value of n"))
for i in range(n):
    name=input("Enter name")
    address=input("Enter address")
    phone =int(input("Enter mobile"))
    d[name]=phone
    #d[name]=address
d

Enter the value of n1
Enter nameram
Enter addresssfsf
Enter mobile985745

{'ram': 985745}

In [34]:
print(d)

{'ram': 'kathmandu'}

In [44]:
d=[("name", "Ram"),("ram","shyam")]
d
dict(d)

{'name': 'Ram', 'ram': 'shyam'}

In [51]:
a=dict(d)

In [52]:
for i in a.values():
    print(i)

Ram
shyam

In [55]:
for i in a:
    print(i)

name
ram

In [56]:
for i in a.items():
    print(i)

('name', 'Ram')
('ram', 'shyam')

In [57]:
a.keys()

dict_keys(['name', 'ram'])

In [58]:
a.items

In [59]:
a.items()

dict_items([('name', 'Ram'), ('ram', 'shyam')])

In [60]:
a.values()

dict_values(['Ram', 'shyam'])

In [61]:
a={('ram'):'98778373737',("hari"):"99999889789"}
a

{'ram': '98778373737', 'hari': '99999889789'}

In [69]:
d={}
n=int(input("Enter the value of n"))
for i in range(n):
    name=input("Enter the name")
    ncell=int(input("Enter ncell number"))
    ntc=int(input("Enter ntc number"))
    d[name]=f"{ncell} {ntc}"
print(d)

Enter the value of n1
Enter the nameram
Enter ncell number998899889
Enter ntc number9988766788
{'ram': '998899889 9988766788'}

In [70]:
name=input("Enter name=")
x=d[name]
print(x.split())

Enter name=ram
['998899889', '9988766788']

In [73]:
d={}
n=int(input("Enter the value of n"))
for i in range(n):
    name=input("Enter the name")
    ncell=int(input("Enter ncell number"))
    ntc=int(input("Enter ntc number"))
    value=[ncell, ntc]
    d[name]=value
print(d)

Enter the value of n1
Enter the nameram
Enter ncell number9887
Enter ntc number8877
{'ram': [9887, 8877]}

In [77]:
a={'ram': [9887, 8877]}
a['ram'].append(988736646)
a

{'ram': [9887, 8877, 988736646]}

In [79]:
a['sita']=[9333737, 388832828]
a

{'ram': [9887, 8877, 988736646], 'sita': [9333737, 388832828]}

In [83]:
a={'ram': [9887, 8877, 988736646], 'sita': [9333737, 388832828]}
del a['sita']
a

{'ram': [9887, 8877, 988736646]}

In [85]:
a={'ram': [9887, 8877, 988736646], 'sita': [9333737, 388832828]}
for i in a:
    print(i)

ram
sita

In [86]:
for i in a.values():
    print(i)

[9887, 8877, 988736646]
[9333737, 388832828]

In [90]:
a={'ram': [9887, 8877, 988736646], 'sita': [9333737, 388832828]}
a['sita']=x.split
print(a)

{'ram': [9887, 8877, 988736646], 'sita': <built-in method split of str object at 0x000001F045BD91C0>}

In [91]:
a={'ram': [9887, 8877, 988736646], 'sita': [9333737, 388832828]}
for i in a:
    for j in a.items():
        print(j)

('ram', [9887, 8877, 988736646])
('sita', [9333737, 388832828])
('ram', [9887, 8877, 988736646])
('sita', [9333737, 388832828])

In [94]:
a = [{'ram': 52658}, {'Hari': 52658}, {'sflsfsam': 52658}]

print(a[0])

{'ram': 52658}

In [95]:
a = [{'ram': 52658}, {'Hari': 52658}, {'sflsfsam': 52658}]
a[0]["Name"]="Ramprassad"
a

[{'ram': 52658, 'Name': 'Ramprassad'}, {'Hari': 52658}, {'sflsfsam': 52658}]

In [96]:
a = {1:{'ram': '25665 2356'}, 
     2: {'shyam': '235 653'}}

a

{1: {'ram': '25665 2356'}, 2: {'shyam': '235 653'}}

In [97]:
d={}
n=int(input("Enter the value of n"))
for i in range(1,n+1):
    nam=input("Enter the name")
    ncell=input("Enter the ncell number")
    ntc=input("Enter ntc number")
    key= i
    value={"Name":nam,"ncell":ncell,"ntc":ntc}
    d[key]=value
print(d)

Enter the value of n2
Enter the nameram
Enter the ncell number98773633
Enter ntc number983736363
Enter the namehari
Enter the ncell number98377363
Enter ntc number9877363637
{1: {'Name': 'ram', 'ncell': '98773633', 'ntc': '983736363'}, 2: {'Name': 'hari', 'ncell': '98377363', 'ntc': '9877363637'}}

In [98]:
for i in d.values():
    print(i)

{'Name': 'ram', 'ncell': '98773633', 'ntc': '983736363'}
{'Name': 'hari', 'ncell': '98377363', 'ntc': '9877363637'}

In [101]:
d[1]["Name"]="Balram"

In [102]:
d

{1: {'Name': 'Balram', 'ncell': '98773633', 'ntc': '983736363'},
 2: {'Name': 'hari', 'ncell': '98377363', 'ntc': '9877363637'}}

In [105]:
a={1: {'Name': 'Balram', 'ncell': '98773633', 'ntc': '983736363'},
 2: {'Name': 'hari', 'ncell': '98377363', 'ntc': '9877363637'}}
for i in a.values():
    for j in a.items():
        print(j)

(1, {'Name': 'Balram', 'ncell': '98773633', 'ntc': '983736363'})
(2, {'Name': 'hari', 'ncell': '98377363', 'ntc': '9877363637'})
(1, {'Name': 'Balram', 'ncell': '98773633', 'ntc': '983736363'})
(2, {'Name': 'hari', 'ncell': '98377363', 'ntc': '9877363637'})

In [108]:
d={}
product={"Apple":100,"Banana":50}
n = int(input("Enter the value of n"))
for i in range(1,n+1):
    name=input("Enter name")
    price=product[name]
    quantity=int(input("Enter the value of quantity="))
    total=price*quantity
    key=i
    value={"name":name,"price":price,"quantity":quantity,"total":total}
    d[key]=value
print(d)

Enter the value of n2
Enter nameApple
Enter the value of quantity=2
Enter nameApple
Enter the value of quantity=3
{1: {'name': 'Apple', 'price': 100, 'quantity': 2, 'total': 200}, 2: {'name': 'Apple', 'price': 100, 'quantity': 3, 'total': 300}}

In [111]:
a={"ram":[998387373,9889,"www"]}
a

{'ram': [998387373, 9889, 'www']}

In [114]:
a = [{"Name":"Ram","Ntc":98606201725,"Ncell":9856895265},
     {"Name":"Santosh","Ntc":985689568,"Ncell":985658565}]
for i in a:
    for j in i.values():
        print(j)

Ram
98606201725
9856895265
Santosh
985689568
985658565

In [115]:
a=j

In [116]:
a

985658565

In [ ]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc = "))
    ncell = int(input("Enter ncell = "))
    key = i
    value = {"Name":name,"ntc":ntc,"ncell":ncell} 
    d[key] = value
    
print(d)