In [3]:
a = 2
b = 2
c = a//b
d = a**b
print(c)
print(d)

1
4

In [5]:
a = '10'
b = '20'
c = int(a) + int(b)
print(c)

30

In [11]:
a = True
b = False
print(a and b)

False

In [9]:
a = 'Tribhuvan University\n'
print(a*4)

Tribhuvan University
Tribhuvan University
Tribhuvan University
Tribhuvan University

In [12]:
b = 10
h = 20
a = 1/2*b*h
print('This is the area of traingle ',a)

This is the area of traingle  100.0

In [13]:
b = int(input("Ente the value of b = "))
h = int(input("Enter the value of h = "))
a = 1/2*b*h
print('The area of traingle is',a)

Ente the value of b = 2
Enter the value of h = 5
The area of traingle is 5.0

In [24]:
name = input("Enter name =   " )
address = input(" Enter address =  " )
age = int(input(" Enter age=  "  ))
info = name+ " "+address+ " "+str(age)
print(info)

Enter name =   ram
 Enter address =  hari
 Enter age=  25
ram hari 25

In [26]:
name = input("Enter name =   " )
address = input(" Enter address =  " )
age = int(input(" Enter age=  "  ))
info = "My name is " +name+ ". I live in "+address+ ". I am  "+str(age) + " years old."
print(info)

Enter name =   Santosh Basnet
 Enter address =  Nele 9 Solukhumbu
 Enter age=  26
My name is Santosh Basnet. I live in Nele 9 Solukhumbu. I am  26 years old.

In [1]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
if a>b:
    print("a is greater than b")
elif b>a:
    print("b is greater than a")
else:
    print("a is equal to b")

Enter a = 5
Enter b = 5
a is equal to b

In [2]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
if a%b==0:
    print(a,"a is divisible")
else:
    print(a,"a is not divisible by b")

Enter a = 5
Enter b = 5
5 a is divisible

In [3]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
if a%2!=0:
    print(a,"a is odd")
else:
    print(a,"a even")

Enter a = 5
Enter b = 2
5 a is odd

In [5]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input("+ - / * ** ")
if o == "-":
    print(a-b)
elif o =="+":
    print(a+b)
elif o =="*":
    print(a*b)
elif o =="**":
    print(a**b)
else:
    print(a/b)

Enter a = 5
Enter b = 5
+ - / * ** /
1.0

In [6]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input("Enter + - / ")
if o == "+":
    print(a+b)
elif o == "/":
    if b != 0:
        print(a/b)
    else:
        print("b shoulnot be zero")
else:
    
    print("Invalid")

Enter a = 5
Enter b = 0
Enter + - / /
b shoulnot be zero

In [7]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
if a%2 == 0 and b%2 == 0:
    print("a and b are required number")
else:
    print("a and b are invalid number")

Enter a = 5
Enter b = 5
a and b are invalid number

In [8]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
if a%2 == 0 or b%2 == 0:
    print("a and b are required number")
else:
    print("a and b are invalid number")

Enter a = 5
Enter b = 6
a and b are required number

In [23]:
a = ("Good Morning Nepal \n")
for i in range(5):
    print(0,a)

0 Good Morning Nepal

0 Good Morning Nepal

0 Good Morning Nepal

0 Good Morning Nepal

0 Good Morning Nepal

In [26]:
a = ("Good Morning Nepal \n")
for i in range(1,5,2):
    print(i,a)

1 Good Morning Nepal

3 Good Morning Nepal

In [32]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 10
10
20
30
40
50
60
70
80
90
100

In [33]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)
m = int(input("Enter m = "))
for i in range(1,11):
    print(m*i)

Enter n = 10
10
20
30
40
50
60
70
80
90
100
Enter m = 20
20
40
60
80
100
120
140
160
180
200

In [34]:
n = input("Enter n = ")
for i in range(1,11):
    print(n*i)
m = input("Enter m = ")
for i in range(1,11):
    print(m*i)

Enter n = 10
10
1010
101010
10101010
1010101010
101010101010
10101010101010
1010101010101010
101010101010101010
10101010101010101010
Enter m = ram
ram
ramram
ramramram
ramramramram
ramramramramram
ramramramramramram
ramramramramramramram
ramramramramramramramram
ramramramramramramramramram
ramramramramramramramramramram

In [41]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter n = 15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [1]:
n = int(input("Enter n = "))
for i in range(1,5):
    x = int(input("Enter x ="))
    print(x)

Enter n = 2
Enter x =5
5
Enter x =5
5
Enter x =5
5
Enter x =5
5

In [3]:
s = 0 #anywhere may be zero
n = int(input("nter n = "))
for i in range(n): #coke, fanta
    x = int(input("Enter x ="))
    s = s+x
    print(s)

nter n = 2
Enter x =25
25
Enter x =25
50

In [4]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter n = ")
    s = s+name
    print(s)

Enter n = 2
Enter n = 2
2
Enter n = 2
22

In [5]:
s = "Hari"
n = int(input("Enter n = "))
for i in range(n):
    name = input( "Enter name = ")
    s = s + name
    print(s)

Enter n = 2
Enter name = ffsfss
Hariffsfss
Enter name = rsfs
Hariffsfssrsfs

In [7]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter n = ")
    phone = input( "Enter phone = ")
    Girlname = input("Enter Girl name = ")
    s = s+name+ phone+Girlname+"\n"
    print(s)

Enter n = 2
Enter n = ram
Enter phone = 2554
Enter Girl name = hari
ram2554hari

Enter n = 1
Enter phone = sfs
Enter Girl name = fswe
ram2554hari
1sfsfswe

In [14]:
s = ""
total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input( "Enter price = "))
    s = s+name+" "+str(price)+"\n"
    total = total+price
    print(s)
    print(total)

Enter n = 2
Enter name = dfs
Enter price = 25
dfs 25

25
Enter name = sfs2
Enter price = 25
dfs 25
sfs2 25

50

In [20]:
a = "Python"
for i in range(5,-1,-1):
    print(a[i],end = " ") #reverse

n o h t y P

In [19]:
a = "Python"
for i in a:
    print(i,end = " ")

P y t h o n

In [24]:
a = ["Apple","Cat","Dog"]
for i in a:
    print(i,end = " ")

Apple Cat Dog

In [28]:
a = " 0 "
for i in a:
    print("Hellow World",end=" ")

Hellow World Hellow World Hellow World

In [1]:
a = 0
while a<5:
    print("Hello world")
    a = a+2

Hello world
Hello world
Hello world

In [2]:
a = 0
while a<5:
    print(a,"Hellow World")
    a+=2

0 Hellow World
2 Hellow World
4 Hellow World

In [7]:
n = int(input("Enter value of n = "))
while a<=15:
    print(n*a)
    a = a+1

Enter value of n = 15

In [8]:
n = int(input("Enter n = "))
a = 1
while a<=10:
    print(n,"*",n*a)
    a = a+1

Enter n = 10
10 * 10
10 * 20
10 * 30
10 * 40
10 * 50
10 * 60
10 * 70
10 * 80
10 * 90
10 * 100

In [9]:
n = int(input("Enter n = "))
a = 1
while a<=10:
        print(n,"*",a,"=",n*a)
        a = a+1

Enter n = 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [10]:
a = 5
while 0<a:
    print(a)
    a = a-1

5
4
3
2
1

In [1]:
a = ["Apple","Ball","Cat"]
for i in a:
    if i == "Ball":
        pass
    print(i)

Apple
Ball
Cat

In [2]:
a = ["Apple","Ball","Cat"]
for i in a:
    if i == "Ball":
        break
    print(i)

Apple

In [3]:
a = ["Apple","Ball","Cat"]
for i in a:
    if i == "Ball":
        continue
    print(i)

Apple
Cat

In [4]:
for i in range(1,21):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [6]:
a = "Hellow World"
for i in a:
    if i == 'w':
        break
    print(i,end = "")

Hello

In [7]:
a = "Hello World"
n = len(a)
b = 0
while b<n:
    print(a[b],end = "")
    b = b+1

Hello World

In [9]:
a = 0
s = 0
while a<5:
    x = int(input("Enter = "))
    x = x+2
    a = a+2
    print(x)
    print(a)

Enter = 3
5
2
Enter = 4
6
4
Enter = 4
6
6

In [10]:
def hello():
    print("Good Moring")
hello()

Good Moring

In [11]:
x = "Good Moring Nepal"
def good():
    print(x)
good()

Good Moring Nepal

In [15]:
def area():
    global a
    b = int(input("Enter b = "))
    h = int(input("Enter h = "))
    a = 1/2*b*h
    print(a,"The area of traingle was found ")
area()

Enter b = 5
Enter h = 2
5.0 The area of traingle was found

In [17]:
print(a)

6

In [21]:
b = int(input("Enter b = "))
h = int(input("Enter h = "))
def area():
    
    a = 1/2*b*h
    print(a,"The area of traingle was found ")
area()
print("This is the area of traingle ")

Enter b = 5
Enter h = 2
5.0 The area of traingle was found
This is the area of traingle

In [22]:
b = int(input("Enter b = "))
h = int(input("Enter h = "))
def area():
    a = 1/2*b*h
    print(a)
area()
print(b,h)

Enter b = 5
Enter h = 2
5.0
5 2

In [26]:
def hello(x,y):
    print(x,y)
hello("Good Morning","Nepal")

Good Morning Nepal

In [28]:
def area(x,y):
    a = b*h
    print(a)
def volume(x,y,z):
    v = b*h*l
    print(v)
b = int(input("Enter the value of b = "))
h = int(input("Enter the value of h = "))
l = int(input("Enter the value of l= "))
area(b,h)
volume(b,h,l)

Enter the value of b = 5
Enter the value of h = 2
Enter the value of l= 5
10
50

In [30]:
def language(lan = "Good Morning"):
    print(lan)

language("Good")
language("Nepal")
print(language())

Good
Nepal
Good Morning
None

In [31]:
def language(lan = "Good Morning"):
    print(lan)

print(language("Good"))

Good
None

In [32]:
def hello():
    l = 4
    b = 5
    a = l*b
    return a
print(hello())

20

In [38]:
def hello():
    l = 4
    b = 5
    a = l*b
    return a
x = hello()
h = 10
v = x*h
print("The area is ",x)
print("the volume is ",v)

The area is  20
the volume is  200

In [43]:
def hello():
    l = 4
    b = 5
    a = l*b
    v = a*h
    return a,v
x = hello()
area, volume = x
print(x)
print("The area is ",x)
print("the volume is ",v)

(20, 200)
The area is  (20, 200)
the volume is  200

In [45]:
def cal(x,y,z):
    a = l*b
    v = a*h
    return a,v
l = int(input("Enter "))
b = int(input("Enter "))
h = int(input("enter "))
area, volume = cal(l,b,h)
print(area)
print(volume)

Enter 5
Enter 5
enter 5
25
125

In [46]:
import math as m
print(m.pi)

3.141592653589793

In [48]:
m.pow(5,3)

125.0

In [50]:
a = m.pi/2
print(m.sin(a))

1.0

In [55]:
import math as a
r = int(input("Enter = "))
a = 3*m.pow(r,2)
print(a)

Enter = 5
75.0

In [56]:
def hello():
    print("Hello World")
    x = input("Enter y for more funciont")
    if x =="y":
        hello()
        
hello()

Hello World
Enter y for more funcionty
Hello World
Enter y for more funciontu

In [59]:
def cal():
    b = int(input("Enter p"))
    h = int(input("Enter h"))
    a = 1/2*b*h
    print(a)
    x = input("Enter x")
    if x == "y":
        cal()
    
cal()

Enter p5
Enter h2
5.0
Enter xy
Enter p5
Enter h2
5.0
Enter xy
Enter p6
Enter h3
9.0
Enter xy
Enter p5
Enter h5
12.5
Enter xl

In [64]:
def cal():
    b = int(input("Enter p"))
    h = int(input("Enter h"))
    a = 1/2*b*h
    print(a)
   
n = int(input("Enter n = "))
for i in range(n):
    cal()

Enter n = 2
Enter p5
Enter h32
80.0
Enter p25
Enter h25
312.5

In [75]:
def cal(x,y):
    i = p*t
    print(i)
n = int(input("Enter n = "))
for i in range(n):
    p = int(input("x"))
    t = int(input("y"))
    print(cal(p,t))

Enter n = 5
x5
y5
25
None
x5
y5
25
None
x5
y5
25
None
x55
y5
275
None
x5
y5
25
None

In [76]:
def cal():
    a = int(input("Enter a = "))
    b = int(input("Enter b = "))
    o = input("Enter + - * / ")
    if o == "+":
        print(a+b)
    elif o == "-":
        print(a-b)
    elif o == "*":
        print(a*b)
    elif o == "/":
        if b !=0:
            print(a/b)
        else: print("b shold not be zero")
    else:
        print("Invalid operator")
    x = input("Enter y for mol cal =")
    if x =="y":
        cal()
cal()

Enter a = 2
Enter b = 5
Enter + - * / /
0.4
Enter y for mol cal =y
Enter a = 5
Enter b = 5
Enter + - * / j
Invalid operator
Enter y for mol cal =h

In [80]:
s =""
def phone_no(x="",y=""):
    global s
    s = s+x+y+"\n"
    return s
n = int(input("Enter n ="))

for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone= ")
    phone_no(name,phone)

print(phone_no())
print(s)

Enter n =2
Enter name = sfs
Enter phone= 5
Enter name = 4
Enter phone= 665
sfs5
4665


sfs5
4665

In [93]:
s =""
def hello(x="",y=""):
    global s
    s = x+y+"\n"
    return s
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter p")
    phone = int(input("Enter h"))
    hello(name,phone)
    
print(hello())
print(s)

Enter n = 2
Enter p52
Enter h25

TypeError: can only concatenate str (not "int") to str

In [97]:
a = "Hello world I am python"
print(a[0:25:2])
print(len(a))
print(a[25::-1])

HlowrdIa yhn
23
nohtyp ma I dlrow olleH

In [107]:
s = ""
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter name =")
    surename = input("Ente surname = ")
    data = f"{name} {surename}"
    s = s+data+"\n"
print(s)

Enter n =1
Enter name =Santosh
Ente surname = Basnet
Santosh Basnet

In [108]:
a = "Santosh"
print(a.upper())

SANTOSH

In [110]:
a = "Ram Shyam Hari Gita"
print(a.replace("Ram","Ramprasad"))
print(a)

Ramprasad Shyam Hari Gita
Ram Shyam Hari Gita

In [111]:
a = "Ram Shyam Hari Gita Ram"
name = input("Enter name = ")
if "Ram" in a:
    print("Yes")
    print(a.count(name))

Enter name = Ram
Yes
2

In [112]:
a = ["Apple","Cat","Ball","Dog"] #Autoindex
print(a)
print(a[0])

['Apple', 'Cat', 'Ball', 'Dog']
Apple

In [114]:
l = list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    l = l+[name]
print(l)

Enter n = 2
Enter name = sfs
Enter name = sfs
['sfs', 'sfs']

In [116]:
l = list()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enteer x = "))
    l = l+[x]
print(l)
print("the sume of no is = ",sum(l)) #better than loop
print("The max value is = ",max(l))
print("the miinimium = ",min(l))
print("min",max(l)/n)

Enter n = 5
Enteer x = 25
Enteer x = 35
Enteer x = 56
Enteer x = 56
Enteer x = 86
[25, 35, 56, 56, 86]
the sume of no is =  258
The max value is =  86
the miinimium =  25
min 17.2

In [118]:
l.sort

In [119]:
sorted

In [120]:
#append(add to last) insert()
a = ["Apple","Ball","Cat","Dog"]
b = "Fish"
a.append(b)
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [121]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc number = "))
    ncell = int(input("Enter ncell no = "))
    info = [name,ntc,ncell]
    data.append(info)
    
print(data)

Enter n = 2
Enter name = ram
Enter ntc number = 356
Enter ncell no = 25
Enter name = hari
Enter ntc number = 256
Enter ncell no = 256
[['ram', 356, 25], ['hari', 256, 256]]

In [122]:
a = [['ram', 356, 6524], ['shyam', 254, 2535]]
a[0].append(60620772)
a

[['ram', 356, 6524, 60620772], ['shyam', 254, 2535]]

In [123]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)
    
print(t)

Enter n = 2
Enter x = 5
Enter x = 5
(5, 5)

In [2]:
a = {1:"Python",2:"Good",3:"Gold"}
print(len(a))
print(type(a))

3
<class 'dict'>

In [6]:
a = {1:"Python",2:"Good",3:"Gold"}
b = {"a":"Kathmandu"}
a.update(b)
print(a)

{1: 'Python', 2: 'Good', 3: 'Gold', 'a': 'Kathmandu'}

In [11]:
a = {}
a["b"] = "Apple"
a["c*2"] = "Football"
a
print(a)

{'b': 'Apple', 'c*2': 'Football'}

In [14]:
d = {}
for i in range(1,8):
    d[i] = i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [15]:
j = {}
for i in range (1,10):
    j[i] = i**3
print(j)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [17]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    key = name
    value = phone
    d[key] = value
print(d)

Enter n = 5
Enter name = Santosh Basnet
Enter phone = 9860235222
Enter name = Ram
Enter phone = 35686558
Enter name = Hari
Enter phone = 98652653
Enter name = Shyam
Enter phone = 986053562
Enter name = Sita
Enter phone = 98653526
{'Santosh Basnet': 9860235222, 'Ram': 35686558, 'Hari': 98652653, 'Shyam': 986053562, 'Sita': 98653526}

In [19]:
d = [("Ram","986989898"),("Shyam","98885887544")]
dict(d)
print(dict(d))

{'Ram': '986989898', 'Shyam': '98885887544'}

In [27]:
d = [("Ram","986989898"),("Shyam","98885887544")]
e = [("dictionary","9865625354")]
dict(d)
dict(e)
dict(d).update(dict(e))
print(dict(d))

{'Ram': '986989898', 'Shyam': '98885887544'}

In [29]:
for i in d:
    print(i)

('Ram', '986989898')
('Shyam', '98885887544')

In [35]:
for i in j.values():
    print(i)

1
8
27
64
125
216
343
512
729

In [36]:
for i in b.values():
    print(i)

Kathmandu

In [37]:
for i in j.items():
    print(i)

(1, 1)
(2, 8)
(3, 27)
(4, 64)
(5, 125)
(6, 216)
(7, 343)
(8, 512)
(9, 729)

In [38]:
j.items()

dict_items([(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216), (7, 343), (8, 512), (9, 729)])

In [39]:
j.values()

dict_values([1, 8, 27, 64, 125, 216, 343, 512, 729])

In [40]:
a = {("Ram"):"9856526535",("Hari"):"9856452653"}
a

{'Ram': '9856526535', 'Hari': '9856452653'}

In [44]:
d = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phnone = "))
    phone2 = int(input("Enter phone2 =  "))
    favourite = input("Enter favourite = ")
    key = name
    value = f"{phone} {phone2} {favourite}"
    d[key] = value
print(d)

Enter n = 1
Enter name = Ram
Enter phnone = 98659865
Enter phone2 =  98659654
Enter favourite = Coke

TypeError: list indices must be integers or slices, not str

In [45]:
name = input("Enter name = ")
x = d[name]
print(x.split())

Enter name = ram

TypeError: list indices must be integers or slices, not str