In [1]:
a = ("apple","Ball")
print(a)

('apple', 'Ball')

In [5]:
a = ("Apple")
b = (" Ball")
c = a+b
print(c)

Apple Ball

In [13]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)
print(t)

Enter n = 3
Enter x = 9
Enter x = 56
Enter x = 25
(9, 56, 25)

In [14]:
for i in t:
    for j in t:
        print(j)

9
56
25
9
56
25
9
56
25

In [17]:
print("the sum no is = ",sum(t))
print("the maximu value is = ",max(t))
print("the minimum value is = ",min(t))

the sum no is =  90
the maximu value is =  56
the minimum value is =  9

In [21]:
sorted(t)

[9, 25, 56]

In [26]:
if 9 in t:
    print("yes")
    print(t.count("9"))

yes
0

In [28]:
a = 1,2,3,4,5
for i in a:
    if i ==2:
        continue
    print(a)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [29]:
a = ((1, 2, 3, 4, 5),
     (1, 2, 3, 4, 5),
     (1, 2, 3, 4, 5),
     (1, 2, 3, 4, 5))
print(a)

((1, 2, 3, 4, 5), (1, 2, 3, 4, 5), (1, 2, 3, 4, 5), (1, 2, 3, 4, 5))

In [38]:
for j in a.item:
    print(j)

AttributeError: 'tuple' object has no attribute 'item'

In [42]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    address = input("Enter Address = ")
    age = int(input("Enter agef = "))
    info = (i,name,address,age)
    t = t+(info,)
print(t)

Enter n = 2
Enter name = Ram
Enter Address = Santoh
Enter agef = 25
Enter name = 25
Enter Address = 25
Enter agef = 25
((0, 'Ram', 'Santoh', 25), (1, '25', '25', 25))

In [49]:
for i in t:
    print(t)

((0, 'Ram', 'Santoh', 25), (1, '25', '25', 25))
((0, 'Ram', 'Santoh', 25), (1, '25', '25', 25))

In [50]:
a = ((0, 'Ram', 'Santoh', 25), (1, '25', '25', 25))
name = input("Enter name = ")
for i in a:
    print(a)

Enter name = 0
((0, 'Ram', 'Santoh', 25), (1, '25', '25', 25))
((0, 'Ram', 'Santoh', 25), (1, '25', '25', 25))

In [53]:
a = [(0, 'ram', 3665544, 256645), (1, 'hair', 35652, 2564)]
a[1] = (0,1,3,4,5)
print(a) #tuple inside list

[(0, 'ram', 3665544, 256645), (0, 1, 3, 4, 5)]

In [58]:
a = ((1,3,4,5),
     (5,6,6,5))
print(list(a[0]))
print(list(a[1]))

[1, 3, 4, 5]
[5, 6, 6, 5]

In [60]:
c = ()
a = [[1,3,4,5],
     [5,6,6,5]]
for i in a:
    x = tuple(i)
    c = c+(x,)
    
print(c)

((1, 3, 4, 5), (5, 6, 6, 5))

In [67]:
t = tuple()
a = [[1,3,4,5],
     [5,6,6,5]]
for i in a:
    x = list(i)
    t = t+(x,)

print(t)

([1, 3, 4, 5], [5, 6, 6, 5])

In [7]:
a = "Good Morning, Nepal, How are and what is your position"
n = len(a)
print(a[n : :-1])

noitisop ruoy si tahw dna era woH ,lapeN ,gninroM dooG

In [9]:
a = "Good Morning, Nepal, How are and what is your position"
b = "Good Morning, Beta,  I am good and you."
c = f"{a} Let hope will be good in the future. {b}"
print(c)

Good Morning, Nepal, How are and what is your position Let hope will be good in the future. Good Morning, Beta,  I am good and you.

In [25]:
s = ''
n = int(input("Enter n = "))
for i in range(n):
    Name = input("Enter Name = ")
    Address = input("Enter addresss = ")
    Age = int(input("Enter Age = "))
    data = f"{Name } {Address} {Age}\n"
    s = s+data
    
print(s)

Enter n = 2
Enter Name = Santosh
Enter addresss = KTM
Enter Age = 25
Enter Name = Hari
Enter addresss = KTM
Enter Age = 25
Santosh KTM 25
Hari KTM 25

In [28]:
for i in s:
    print(i,end = "")

Santosh KTM 25
Hari KTM 25

In [36]:
a.upper()

'HELLO WORLD'

In [39]:
a.lower()

'hello world'

In [44]:
a.replace("hello","")

'Hello World'

In [45]:
a.split()

['Hello', 'World']

In [46]:
l = list()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l+[x]
    
print("The maximum value is = ",max(l))
print("The minimum value is  =",min(l))
print("The averagef value is  = ",max(l)/n)
print("the sum o fvalue is = ",sum(l))

Enter n = 5
Enter x = 56
Enter x = 564
Enter x = 565
Enter x = 35
Enter x = 8659
The maximum value is =  8659
The minimum value is  = 35
The averagef value is  =  1731.8
the sum o fvalue is =  9879

In [47]:
for i in l:
    print(l)

[56, 564, 565, 35, 8659]
[56, 564, 565, 35, 8659]
[56, 564, 565, 35, 8659]
[56, 564, 565, 35, 8659]
[56, 564, 565, 35, 8659]

In [49]:
l.sort()
print(l)

[35, 56, 564, 565, 8659]

In [53]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
for i in range(len(a)):
    if a[i] == "Ball":
        a[i] = "Budi"
print(a)

['Apple', 'Budi', 'Budi', 'Cat', 'Dog']

In [55]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Name = ")
    ntc = input("ntc = ")
    ncell = input("ncell = ")
    info = [name,ntc,ncell]
    l.append(info)
print(l)

Enter n = 2
Name = Ram
ntc = 9865265
ncell = 9856265
Name = Hari
ntc = 98659865
ncell = 98659865
[['Ram', '9865265', '9856265'], ['Hari', '98659865', '98659865']]

In [56]:
for i in l:
    print(l)

[['Ram', '9865265', '9856265'], ['Hari', '98659865', '98659865']]
[['Ram', '9865265', '9856265'], ['Hari', '98659865', '98659865']]

In [59]:
l[0].upper()

AttributeError: 'list' object has no attribute 'upper'

In [2]:
a = {1,2,3,4,5,6}
b = {1,2,3,7,9,8}
c = {1,3,5,9,5,6,7}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
a = [1,2,3,4,5,6,7,8,9]
b = set(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
a = "Hello"
print(set(a))
print(list(a))
print(tuple(a))

{'l', 'e', 'H', 'o'}
['H', 'e', 'l', 'l', 'o']
('H', 'e', 'l', 'l', 'o')

In [11]:
a = {1,2,3,4,5,6}
b = 1,2,3,7,9,8
a.add(b)
a

{(1, 2, 3, 7, 9, 8), 1, 2, 3, 4, 5, 6}

In [14]:
s = set()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter the value of x = "))
    s.add(x)
print(s)

Enter n = 2
Enter the value of x = 35
Enter the value of x = 63
{35, 63}

a = {1, 2, 3, 7, 9, 8, 1, 2, 3, 4, 5, 6}
a.remove(1)

In [ ]:
a = {1, 2, 3, 7, 9, 8, 1, 2, 3, 4, 5, 6}
a.remove(1)