In [1]:
# assert statement
a = 10
b = 20

try:
    assert a>b
    print("a is smaller")
except:
    print("a should be greater")

a should be greater

In [2]:
# comprehension list and dictionary
x = [int(x) for x in input("Enter multiple value: ").split()]
print("Number of list is: ",x)

Enter multiple value:
Number of list is:  []

In [3]:
x=[int(x) for x in input("Enter multiple value: ").split()]
print("Number of list is: ",x)

Enter multiple value: 2
Number of list is:  [2]

In [4]:
a=["apple","balll"]
print(a)

['apple', 'balll']

In [5]:
type(a)

list

In [6]:
a[0]

'apple'

In [7]:
a[0:2]

['apple', 'balll']

In [8]:
a = ["Apple","Cat","Ball","Dog"] #Autoindex
b = ["Ram"]
c = a+b
print(c)

['Apple', 'Cat', 'Ball', 'Dog', 'Ram']

In [9]:
print(c*2)

['Apple', 'Cat', 'Ball', 'Dog', 'Ram', 'Apple', 'Cat', 'Ball', 'Dog', 'Ram']

In [10]:
a = ['Apple','Ram','Cat','Dog','Ball','Fish']
a[0]="gai"
a

['gai', 'Ram', 'Cat', 'Dog', 'Ball', 'Fish']

In [11]:
l=list()
n=int(input("Enter the value of n :"))
for i in range(n):
    name=input("Enter name=")
    l=l+[name]
print(l)

Enter the value of n :2
Enter name=2
Enter name=2
['2', '2']

In [12]:
l = list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    l = l+[name]
print(l)

Enter n = 2
Enter name = ram
Enter name = hair
['ram', 'hair']

In [16]:
a = ["Apple","Cat","Ball","Dog"] #Autoindex
for i in a:
    print(i)

Apple
Cat
Ball
Dog

In [1]:
l=list()
n=int(input("Enter the value of n = "))
for i in range(n):
    a=int(input("Enter the value of a"))
    l=l+[a]
print(l)
print("Maximum value is ",max(l))
print("Sum of value is ", sum(l))
print("minimum of value is ", min(l))

Enter the value of n = 3
Enter the value of a5
Enter the value of a4
Enter the value of a6
[5, 4, 6]
Maximum value is  6
Sum of value is  15
minimum of value is  4

In [2]:
l.sort()

In [3]:
l

[4, 5, 6]

In [4]:
sorted(l)

[4, 5, 6]

In [7]:
a = ["Apple","Ball","Cat","Dog"]
if "Apple" in a:
    print("yes")
    print(a.count("Apple"))

yes
1

In [10]:
for i in a:
    if i=="Ball":
        continue
    print(i)

Apple
Cat
Dog

In [4]:
a = ["Apple","Ball","Cat","Dog"]
a.insert(2,"ram")
a

['Apple', 'Ball', 'ram', 'Cat', 'Dog']

In [5]:
del a[0:2]

In [6]:
a

['ram', 'Cat', 'Dog']

In [7]:
a.remove("ram")

In [8]:
a

['Cat', 'Dog']

In [15]:
a = ["Apple","Ball","Ball","Cat","Dog"]
n = a.count("Ball")
for i in range(n):
    if a[i]=="Ball":
        a[i]="ball"
print(a)

['Apple', 'ball', 'Ball', 'Cat', 'Dog']

In [13]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
n = a.count("Ball")
for i in range(n):
    if a[i] == "Ball":
        a[i] = "ball"
        
print(a)

['Apple', 'ball', 'Ball', 'Cat', 'Dog']

In [19]:
a = ["Apple","Ball","Ball","Cat","Dog"]
a.index("Ball")

1

In [18]:
a = ["Apple","Ball","Ball","Cat","Dog"]
a.index("Ball")

1

In [20]:
a.pop()
a

['Apple', 'Ball', 'Ball', 'Cat']

In [21]:
a = ["Apple","Ball","Ball","Cat","Dog"]
a.pop(2)
print(a)

['Apple', 'Ball', 'Cat', 'Dog']

In [25]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
b = a.pop(2)
print(a)
print(b)

['Apple', 'Ball', 'Cat', 'Dog']
Ball

In [26]:
a = [[],[],[]]
print(type(a))
print(len(a))

<class 'list'>
3

In [27]:
a = [[1,3,4],[4,5,6],[5,6,7]]
print(a)

[[1, 3, 4], [4, 5, 6], [5, 6, 7]]

In [28]:
a=[["ram"],["hari"]]

In [29]:
a

[['ram'], ['hari']]

In [ ]:
try:
    a[0][1]
    a
except:
    "Error"
    a

In [ ]:
data=[]
n=int(input("Enter the value of n="))
for i in range(n):
    name=input("Enter your name=")
    ntc=int(input("Enter your number"))
    ncell=int(input("Enter your number"))
    info=[name,ntc,ncell]
    data.append(info)
print(data)

In [2]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc number = "))
    ncell = int(input("Enter ncell no = "))
    info = [name,ntc,ncell]
    data.append(info)
    
print(data)

Enter n = 2
Enter name = sfs
Enter ntc number = 9856458
Enter ncell no = 98565475
Enter name = rfsfs
Enter ntc number = 98574584
Enter ncell no = 985745
[['sfs', 9856458, 98565475], ['rfsfs', 98574584, 985745]]

In [4]:
for i in data:
    print(i)

['sfs', 9856458, 98565475]
['rfsfs', 98574584, 985745]

In [5]:
a = [['ram', 356, 6524], ['shyam', 254, 2535]]
a[0][1]=99887788

In [6]:
a

[['ram', 99887788, 6524], ['shyam', 254, 2535]]

In [10]:
a[0].append(8847476464747)

In [11]:
a

[['ram', 99887788, 6524, 8847476464747], ['shyam', 254, 2535]]

In [13]:
name=input("Enter name = ")
for i in a:
    if name in i:
        a.remove(i)
        print(i)

Enter name = ram
['ram', 99887788, 6524, 8847476464747]

In [14]:
data = []
r = int(input("Enter row = "))
c = int(input("Enter col = "))
for i in range(r):
    z=[]
    for j in range(c):
        x=int(input("Enter ="))
        z.append(x)

Enter row = 1
Enter col = 10
Enter the value o f x= 1
Enter the value o f x= 2
Enter the value o f x= 1
Enter the value o f x= 1
Enter the value o f x= 1
Enter the value o f x= 1
Enter the value o f x= 1
Enter the value o f x=

ValueError: invalid literal for int() with base 10: ''

In [17]:
bill=[]
total=0a = {5,6,9,2,3,4,5,6,7,8} #unorderd #no sorting
b = {3,4,6,6,8}  #no duplicate
print(a)
print(b)
n=int(input("Enter the value of n = "))
for i in range(n):
    name = input("Enter name ")
    price=int(input("Enter price"))
    quantity=int(input("enter quantity"))
    total=price*quantity
    s=[name, price, quantity, total]
    bill.append(s)
print(bill)

Enter the value of n = 2
Enter name 1
Enter price10
enter quantity10
Enter name 2
Enter price10
enter quantity10
[['1', 10, 10, 100], ['2', 10, 10, 100]]

In [18]:
a = {5,6,9,2,3,4,5,6,7,8} #unorderd #no sorting
b = {3,4,6,6,8}  #no duplicate
print(a)
print(b)

{2, 3, 4, 5, 6, 7, 8, 9}
{8, 3, 4, 6}

In [19]:
c=list(a)

In [20]:
c

[2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
b=list(a)

In [22]:
b

[2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
c=set(c)

In [24]:
c

{2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
c=tuple(c)

In [26]:
c

(2, 3, 4, 5, 6, 7, 8, 9)

In [28]:
c=list(c)

In [29]:
c

[2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
a = set("Hello") #string innto set
a

{'H', 'e', 'l', 'o'}

In [31]:
a=list("Hello")
a

['H', 'e', 'l', 'l', 'o']

In [32]:
set(a)

{'H', 'e', 'l', 'o'}

In [33]:
tuple(a)

('H', 'e', 'l', 'l', 'o')

In [36]:
s=set()
n=int(input("Ente value n ="))
for i in range(n):
    x=int(input("Enter the value of n"))
    s.add(x)
print(s)

Ente value n =2
Enter the value of n5
Enter the value of n5
{5}

In [37]:
a = {23,24,35,45} #not delete due to no index and no concatination
a.remove(35)
a

{23, 24, 45}

In [39]:
a = {{1,2,3},{4,5,6}} #no set inside set
a

TypeError: unhashable type: 'set'

In [40]:
a = {[1,2,3],[4,5,6]} #no dic inside set
a

TypeError: unhashable type: 'list'

In [41]:
a = {(1,2,3),(4,5,6)} # but only tuple inside set secure data
a

{(1, 2, 3), (4, 5, 6)}

In [42]:
a = {(1, 2, 3), (4, 5, 6),(2,4,6)}
a

{(1, 2, 3), (2, 4, 6), (4, 5, 6)}

In [43]:
a = {"Ram","Shyam","Hari","Gita"}
b = {"Hari","Santosh","Bikesh","Surya"}
a.union(b)

{'Bikesh', 'Gita', 'Hari', 'Ram', 'Santosh', 'Shyam', 'Surya'}

In [44]:
a = {(1,2,3),(4,5,6)} # but only tuple inside set secure data
a

{(1, 2, 3), (4, 5, 6)}